<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/styles.css">
    <title>Pomodoro4.0</title>
   
</head>
<body>
  <nav >
    <div class ="nav-container">
      <ul class="navbar">
        <% if (loginPage) { %>
        <li class="nav-links "><a href="/">Home</a></li>
        <li class="nav-links"><a class="active active-link non-active-link" href="/login">Login</a></li>
        <li class="nav-links"><a href="/register">Register</a></li>
        <% } %> 

        <% if (registerPage) {%> 
        <li class="nav-links "><a href="/">Home</a></li>
        <li class="nav-links"><a  href="/login">Login</a></li>
        <li class="nav-links"><a class="active active-link non-active-link" href="/register">Register</a></li>
        <% } %> 

       <% if (indexPage) {%> 
         <li class="nav-links "><a class="active active-link non-active-link" href="/">Home</a></li>
        
          <% if (loggedIn) { %>
            <li class="nav-links"><a href="/logout">Logout</a></li>
            <% } else {%> 
            <li class="nav-links"><a href="/login">Login</a></li>
            <li class="nav-links"><a href="/register">Register</a></li>
        <% } %> 
       <% } %> 
      
      </ul>
    </div>
  </nav> 