<%- include("header") -%>


<form action="/login" method="POST" class="form-container">
  <h1>Login</h1>
  <div class="form-group">
    <input type="text" name="username" placeholder="username" class="" required>
  </div>
  <div class="form-group">
    <input type="password" name="password" placeholder="password"  class="password-input" required>
  </div >
  <div class="loginBtn-container">
    <button class="submitBtn loginBtn " type="submit" class="" >Login</button>
  </div>
  </form>

  <%- include("footer") -%>