<%- include("header") -%>


<form action="/register" method="POST" class="form-container">
  <h1>Register</h1>
  <div class="form-group">
    <input type="email" class="form-control" name="username" placeholder="email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="password">
  </div>
  <div class="loginBtn-container">
    <button class="submitBtn loginBtn " type="submit" class="" >Login</button>
  </div>
</form>

<%- include("footer") -%>