body {
  font-family: "Baloo Chettan 2", cursive;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
  position: relative;
  top: -30px;
  font-size: 4rem;
}

h2 {
    font-size: 3rem;
    position: relative;
    top: -30px;
}

#timer {
  font-size: 6rem;
  margin: auto;
  position: relative;
  top: -50px
}

.navbar {
  background-color: #4AA96C;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}

.nav-links {
  float: left;
  border-right: 1px solid #bbb;
}

.nav-links a {
  color: #f3f2c9;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
}


.nav-links a:hover:not(.active) {
  background-color: #fcefdc;
  color: #333;
}

a.active-link {
    color: #333;
  }
.active {
  background-color: #fcefdc;
}

.username {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container {
  background-color: #9FE6A0;
  text-align: center;
  padding: 10% 20% 15%;
}

.clock-container {
  background-color: #F55C47;
  padding: 10%;
  border-radius: 50%;
}
.startBtn {
    background: #9FE6A0;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    color: #333;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
 }
 
 .startBtn:hover {
    border: solid #9FE6A0 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #9FE6A0, #659466);
    background-image: -moz-linear-gradient(top, #9FE6A0, #659466);
    background-image: -ms-linear-gradient(top, #9FE6A0, #659466);
    background-image: -o-linear-gradient(top, #9FE6A0, #659466);
    background-image: -webkit-gradient(to bottom, #9FE6A0, #659466);
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    text-decoration: none;
 }

 .startBtn:active {
    transform: scale(0.98);
 }


.pauseBtn {
    background: #FFC947;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    color: #333;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
 }
 
 .pauseBtn:hover {
    border: solid #FFC947 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #FFC947, #b38c31);
    background-image: -moz-linear-gradient(top, #FFC947, #b38c31);
    background-image: -ms-linear-gradient(top, #FFC947, #b38c31);
    background-image: -o-linear-gradient(top, #FFC947, #b38c31);
    background-image: -webkit-gradient(to bottom, #FFC947, #b38c31);
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    text-decoration: none;
 }

.pauseBtn:active {
transform: scale(0.98);
}



.resetBtn {
    background: #4AA96C;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    color: #FFFFFF;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
   
.resetBtn:hover {
    border: solid #4AA96C 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #4AA96C, #2d6841);
    background-image: -moz-linear-gradient(top, #4AA96C, #2d6841);
    background-image: -ms-linear-gradient(top, #4AA96C, #2d6841);
    background-image: -o-linear-gradient(top, #4AA96C, #2d6841);
    background-image: -webkit-gradient(to bottom, #4AA96C, #2d6841);
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    border-radius: 41px;
    text-decoration: none;
}

.resetBtn:active {
    transform: scale(0.98);
}




.submitBtn {
    background: #564A4A;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 16px;
    font-weight: 200;
    padding: 5px;
    border: solid #fff 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 150px;
    
 }
 
 .submitBtn:hover {
    background: #816f6f;
    border: solid #2e3b39 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
 }

.timeInput, .totalTime, .totalMin {
  display: none;
}

.reps {
  padding-bottom: 0;
  font-size: 24px;
}

/* ----Login page ----------------------------- */
.form-container {
  background-color: #9FE6A0;
  height: 400px;
  padding: 100px 0;
}
.form-group {
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

.form-group input {
  height: 50px;
  width: 500px;
  font-size: 1rem;
}

.loginBtn-container {
  text-align: center;
  padding-top: 10px;
}

.loginBtn {
  width: 510px;
  height: 50px;
  font-size: 2rem;
  text-align: inherit;
}

/*  -----square graph------------------------- */
:root {
    --square-size: 15px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
  
  .months { grid-area: months; }
  .days { grid-area: days; }
  .squares { grid-area: squares; }
  
  .graph {
    display: inline-grid;
    grid-template-areas: "empty months"
                         "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
  }
  
  .months {
    list-style-type: none;
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                           calc(var(--week-width) * 4) /* Feb */
                           calc(var(--week-width) * 4) /* Mar */
                           calc(var(--week-width) * 5) /* Apr */
                           calc(var(--week-width) * 4) /* May */
                           calc(var(--week-width) * 4) /* Jun */
                           calc(var(--week-width) * 5) /* Jul */
                           calc(var(--week-width) * 4) /* Aug */
                           calc(var(--week-width) * 4) /* Sep */
                           calc(var(--week-width) * 5) /* Oct */
                           calc(var(--week-width) * 4) /* Nov */
                           calc(var(--week-width) * 5) /* Dec */;
  }
  
  .days,
  .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
    list-style-type: none;
  }
  
  .squares {
    list-style-type: none;
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
  }
  
  
  /* Other styling */
  .day0 {
    display: none;
  }

  .graph-container {
    background-color: #F55C47;

  }

  .inner-graph-container{
      background-color: #fff;
  }
  .graph {
    padding: 20px;
    border: 1px #e1e4e8 solid;
    margin: 20px;
  }
  
  .days li:nth-child(odd) {
    visibility: hidden;
  }
  
  .squares li {
    background-color: #ebedf0;
  }
  
  .squares li[data-level="1"] {
    background-color: #c6e48b;
  }
  
  .squares li[data-level="2"] {
    background-color: #7bc96f;
  }
  
  .squares li[data-level="3"] {
    background-color: #3a8c4a;
  }

  .squares li[data-level="4"] {
    background-color: #145f23;
  }

  .squares li[data-level="5"] {
    background-color: #073d10;
  }

footer {
  text-align: center;
  background-color: #564A4A;
  color: #fff;
  padding: 5% 0;
}
